---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";

const projects = await getCollection("projects");
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
    <H1> Projects </H1>

    <ul
      class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8"
    >
      {
        projects.map((project) => (
          <li>
            <a
              href={`/projects/${project.id}`}
              class="block group transform hover:scale-102 transition-transform duration-300 ease-out"
            >
              {/* TODO: I'd like this to be a frame that on hover plays the video */}
              <Image
                src={project.data.image}
                alt={project.data.title}
                class="aspect-[1/1.33] object-cover object-left-top rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4 group-hover:shadow-xl transition-shadow duration-200"
              />
              <div class="p-1 sm:p-2">
                <h2 class="text-base text-zinc-100 group-hover:text-white transition-colors duration-200">
                  {project.data.title}
                </h2>
                <p class="text-sm text-zinc-400 text-balance">
                  {project.data.description}
                </p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</InfoLayout>
